body {
	padding-top: 100px;
	padding-bottom: 60px;
}
.registro {
	border-top: 1px solid #dddddd;
	/*
	border-collapse: separate;
	*border-collapse: collapse;
	padding: 5px 5px 0px 5px;
	*/
}

.registro:hover {
    background-color: #eeeeee;
}

.subregistro {
	border-top: 1px solid #dddddd;
}
.subregistro:nth-child(1) {
	border-top: none;
}
.subregistro:hover {
    background-color: #f5f5f5;
}

.menuthumbnails a {
    text-align:center;
}

.menuthumbnails a:hover {
    background-color: #eeeeee;
}
.subnav.navbar-fixed-top { 
	top:40px; 
    z-index: 1; // make z-index smaller than .mainnav	
}