body {
  padding-top: 60px;
  padding-bottom: 30px;
}

.registro {
  border-top: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
	padding: 5px 5px 0px 5px;
}

.registro:hover {
    background-color: #eeeeee;
}

.selecionado {
	background-color: lightgoldenrodyellow;
}

.selecionado:hover {
    background-color: #FECA40;
}

.menuthumbnails a {
    text-align:center;
}

.menuthumbnails a:hover {
    background-color: #eeeeee;
}
